:root {
    --color1: #ffcbcb;
    --color2: #ffb5b5; 
    --color3: #407088; 
    --color4: #132743; 
    --soft-white: #d0d0d0;
    --soft-black: #222222;
    --soft-gray: #2a2a2a;
    --soft-blue: #6aaaaa;
    --shadow: #1f1f1f;
	--pink: #ff9c9c; 
}  
